<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        td{
            margin-left: 500px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
     <p>URL Generated: http://localhost:8001/url/<%= id %></p>
    <% } %>
    <div>
        <form method="post" action="/url">
            <label>Enter your Original URL</label> <br><br>
            <input type="text" name="url" placeholder="www.abc123.com"><br><br>
            <button type="submit">Generate</button>
        </form>
    </div>
    <div>
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <th>S. No</th>
                    <th>Original URL</th>
                    <th>Redirect URL</th>
                    <th>No. of clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url,idx) => { %>
                        <tr>
                            <td><%= idx+1 %></td>
                            <td><%= url.redirectURL %></td>
                            <td><%= url.shortID %></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                            <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>